## Tuple , Sets and Dictonary

In [1]:
l=[1,2,3,4,'aman']
l

[1, 2, 3, 4, 'aman']

In [2]:
t=(1,2,3,'aman','4+7j')
t

(1, 2, 3, 'aman', '4+7j')

In [3]:
type(t)

tuple

In [5]:
t[-1]

'4+7j'

In [6]:
# how to do reverse
t[::-1] # :: means nothing from the first argument nothingfrom the last argument and jump with -1 step .

('4+7j', 'aman', 3, 2, 1)

In [8]:
len(t)

5

In [9]:
t

(1, 2, 3, 'aman', '4+7j')

In [10]:
t[1]='kumar'

TypeError: 'tuple' object does not support item assignment

In [11]:
# Difference between list and tuple is
# list support re-assignment operation (mutable ) and tuple not supported (imutable)
# mutable means changing of element at same location
# imutable means not able to change element on same location

In [12]:
# imp - string support immutable that is we connot chane the element after declaration.

In [14]:
s="aman" # String
s

'aman'

In [15]:
s[0]='w'

TypeError: 'str' object does not support item assignment

In [ ]:
#Difference between list and tuple

In [20]:
for i in t:
    print(t)

(1, 2, 3, 'aman', '4+7j')
(1, 2, 3, 'aman', '4+7j')
(1, 2, 3, 'aman', '4+7j')
(1, 2, 3, 'aman', '4+7j')
(1, 2, 3, 'aman', '4+7j')

In [18]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [21]:
l

[1, 2, 3, 4]

In [28]:
t.count(2)

1

In [30]:
l

[1, 2, 3, 4]

In [31]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

In [32]:
l1=[1,2,3,4,5]
l2=[2,3,6,7,8]
l1+l2 # Union all operation

[1, 2, 3, 4, 5, 2, 3, 6, 7, 8]

In [34]:
t1=(1,2,3,4,5)
t2=(2,3,6,7,8)
t1+t2 # union all operation

(1, 2, 3, 4, 5, 2, 3, 6, 7, 8)

In [38]:
l1.append(l2)

In [39]:
l1

[1, 2, 3, 4, 5, 10, [2, 3, 6, 7, 8]]

In [42]:
l1=[1,2]
l2=[3,4]
l1.extend(l2)

In [43]:
l1

[1, 2, 3, 4]

In [ ]:
#Python append() method adds an element to a list, and the extend() method concatenates the first list with another list (or another iterable).

In [44]:
# Requirement is to insert data into a tupe. As tuple defination we cannot insert data explicitly into tuple.then how you able to do it.

In [45]:
t=(1,2,3,4,5)

In [52]:
tm=list(t)

In [54]:
tm.insert(2,'aman')

In [56]:
tuple(tm)

(1, 2, 'aman', 3, 4, 5)

### Sets

set is a kind of data structure which always try to keep only unique values.In other way it try to remove duplicate from itself.

In [57]:
l=[1,1,1,1,3,3,4,4,5,6,7,8]

In [60]:
d=set(l)

In [59]:
# Set is a case sensitive element

In [61]:
for i in d:
    print(i)

1
3
4
5
6
7
8

In [63]:
d[::-1]

TypeError: 'set' object is not subscriptable

In [64]:
#sets also not support slicing operation as well.

In [65]:
s1={1,2,3,4}
s2={2,3}
s1.intersection(s2)

{2, 3}

In [66]:
s1.difference(s2)

{1, 4}

In [67]:
s2.difference(s1)

set()

In [68]:
s1.intersection_update(s1)

In [70]:
s1={1,2,2,3,4}

In [73]:
s1.intersection_update(s1)

In [75]:
s1

{1, 2, 3, 4}

In [76]:
s1.add('aman')

In [77]:
s1

{1, 2, 3, 4, 'aman'}

In [78]:
s1.pop()

1

In [79]:
s1

{2, 3, 4, 'aman'}

In [80]:
l=[1,2,3,4]

In [81]:
l.pop(0)

1

In [82]:
#Difference set and list
# through pop while using list we can remove element at particular location
# through pop while usng set we cannot remove through index it remove automatically from first index.

In [83]:
# set always give you unsorted

In [4]:
l1=[1,2,3,4,5]
l2=[2,3,4,7,8]

#difference between union and union all 
#-union all
l1+l2

[1, 2, 3, 4, 5, 2, 3, 4, 7, 8]

In [5]:
set(l1).union(l2)

{1, 2, 3, 4, 5, 7, 8}

In [11]:
# set() is not give us an ordered collection means provide sorted element

s=set([1,2,3,4,5,6,23,22,3456,5443,432,201,'kumar','#'])
s

{'#', 1, 2, 201, 22, 23, 3, 3456, 4, 432, 5, 5443, 6, 'kumar'}

In [14]:
for i in s:
    print(i)

3456
1
2
3
4
5
6
5443
201
#
432
kumar
22
23

In [15]:
#through set we cannot abel to access element through index vice but can do with the help of loop iterator.

In [17]:
l=[1,2,2,3]
set(l)

{1, 2, 3}

In [18]:
# Set is use for remove duplicate element from the record.

In [20]:
s1=set([1,2,3,'aman'])
s1

{1, 2, 3, 'aman'}

In [21]:
s2=set([3,4,'saini'])
s2

{3, 4, 'saini'}

In [23]:
s1-s2

{1, 2, 'aman'}

In [26]:
s1.union(s2)

{1, 2, 3, 4, 'aman', 'saini'}

In [31]:
list(s1)+list(s2)  # Union all

['aman', 1, 2, 3, 'saini', 3, 4]

In [32]:
E={0,2,4,6,8}
N={1,2,3,4,5}

In [33]:
# set union 

E.union(N)

{0, 1, 2, 3, 4, 5, 6, 8}

In [34]:
# set intersection 

E.intersection(N)

{2, 4}

In [35]:
# Set difference

print('Difference E-N',E-N)

Difference E-N {0, 8, 6}

In [37]:
E.symmetric_difference(N) # all element except common element in two set.

{0, 1, 3, 5, 6, 8}

In [38]:
E-N

{0, 6, 8}

In [1]:
col={
    'ID':[2190,6414,'AAVF',2368,5637,5533,1168,5747,6869,'DLGD']
}

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(col)

In [5]:
df

     ID
0  2190
1  6414
2  AAVF
3  2368
4  5637
5  5533
6  1168
7  5747
8  6869
9  DLGD

In [46]:
# Requirement is to find the index of all integer element.

for i in df.index:
    if((type(df['ID'][i]))==int):
        print(i)

0
1
3
4
5
6
7
8

In [30]:
l=[1,2,3,4,'aman']
l

[1, 2, 3, 4, 'aman']

In [47]:
ik=[]
for i in range(len(l)):
    if(type(l[i])==int):
        ik.append(i)

TypeError: append() takes exactly one argument (0 given)

In [43]:
ik

[0, 1, 2, 3]

## Dictonary

In [48]:
t=(2,6,1,4,7)
t

(2, 6, 1, 4, 7)

In [49]:
t[0]='aman'

TypeError: 'tuple' object does not support item assignment

In [50]:
l=[1,2,3,4,['aman','saini',6]]
l

[1, 2, 3, 4, ['aman', 'saini', 6]]

In [57]:
n=[]
for i in l:
    if(type(l[i])==list):

TypeError: list indices must be integers or slices, not list

In [60]:
lk=[]
for i in l:
    if(type(i)==list):
        for j in i:
            lk.append(j)

In [62]:
lk[1]

'saini'